@import "../assets/styles/media-queries";

.carousel-container {
  width: 100%;
  max-width: 2500px; /* Adjust as needed */
  margin: 0 auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 600px;
}

/* boutton filtre */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dropbtn {
  background-color: var(--resedagreen);
  color: var(--dark);
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  border-radius: 15px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--ashgray);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--resedagreen);
  min-width: 200px;
  z-index: 1;
  border-radius: 0 0 15px 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--sage);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*Produis*/

.produit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.filterDiv-confort,
.filterDiv-surface,
.filterDiv-decoration {
  text-align: center;
  flex: 1;
  margin: 100px;
}

.produit {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.produit li {
  margin-right: 10px;
}

.produit ul li {
  margin: 50px;
}

.produit-container-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterDiv-confort ul,
.filterDiv-surface ul,
.filterDiv-decoration ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.filterDiv-confort ul li,
.filterDiv-surface ul li,
.filterDiv-decoration ul li {
  margin-right: 10px;
}

.produit-filter {
  display: flex;
  @include xs {
    display: block;
  }
}

/* description */

.description {
  background-color: white;
}

.description-modal {
  display: flex;
  align-items: center;
}
.modal-produit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-produit {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 700px;
}

.modal-content-produit,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.test {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  @include xs {
    display: block;
  }
}

#img01 {
  flex-grow: 0;
  flex-basis: 70%;
}

.description {
  flex-grow: 1;
  top: 80%;
  height: 36.5%;
}

.description-text {
  position: relative;
  top: 15%;
}
