/* Slideshow container */
.slideshow-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
// s

#img1 {
  background-image: url("../assets/images/cardmapr-nl-s8F8yglbpjo-unsplash.jpg");

  background-size: cover;

  background-position: center;

  width: 100%;

  height: 400px;
}
h4 {
  background-color: #c7815c;
  padding-right: 3%;
  padding-bottom: 3%;
}

.titre-service h3 {
  text-align: center;
  padding: 5%;
  font-size: 20px;
  line-height: 39px;
}

/************contenaire option************************************/
.option {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 55px;
}

/****************************tabs*******************************/
.button-mode {
  display: flex;
  width: 50%;
}
.button-mode button {
  width: 100%;
  padding: 1em;
}
.button-mode div {
  width: 100%;
}

.w2-bar-item {
  background: #c7815c;
  border: none;
  cursor: pointer;
}

.nw2-bar-item {
  background: #a76f51;
  border: none;
  cursor: pointer;
}
/******************************************livraison****************************/
#nos-services {
  width: 100%;
  background-color: #c7815c;
}

.livraison {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--bleu-tertiaire);
  padding: 20px 40px;
}

/************************************************paiment*************************************/

.photo2 {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 3;
}

ul li {
  margin-bottom: 10px;
  position: relative;
}

#caroussel {
  overflow: auto;
}
.image2 {
  display: flex;
  animation-duration: 10s;
  animation-name: harry;
  animation-iteration-count: infinite;
}

@keyframes harry {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1460px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}
// s

#img1 {
  background-image: url("../assets/images/cardmapr-nl-s8F8yglbpjo-unsplash.jpg");

  background-size: cover;

  background-position: center;

  width: 100%;

  height: 400px;
}

#img2 {
  background-image: url("../assets/images/header_contact.jpeg");

  background-size: cover;

  background-position: center;

  width: 100%;

  height: 400px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* tab */

.tab {
  overflow: hidden;
  width: 30%;
  display: flex;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 300px;
}

.btnliv {
  background-color: #a76f51;
}

.btnpai {
  background-color: #c7815c;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/*  +++++++++++++++++++++++++++++++ */

.tabcontent {
  background-color: #a76f51;
  display: flex;
  height: 300px;
  img {
    justify-content: end;
    width: 50%;
  }
}

.items {
  width: 50%;
}

.container {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  flex-direction: column;
}

.icon {
  margin-right: 10px;
}

.test {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 30px 10px;
}
