h3{
    font-size: 20px;
    margin-bottom: 5%;
    text-align: center;
}
.services2{
    display: flex;
    margin-bottom: 3%;
}
.mode {
    margin-left: 0%;
    font-size: 20px;
    background-color: #A76F51;
    margin-bottom: 20px;
    padding-left: 3%;
    
}
h4{
    background-color: #C7815C;
    margin-bottom: 20px;
    padding-right: 3%;
    padding-bottom: 3%;
    
}


.mission1 {
    background-color: #C7815C;
    padding: 10px;
  }
  
  .titremission1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titre1{
    margin-right: 20px;
    font-size: 15px;
  }
 
   
  .image3{
    text-align: left;
  }
  
 
 
  
  .livraison1 {
    margin-top: 20px;
    position: relative;
    height: 40%;
  }
  
  ul {
    padding: 0;
    margin: 3;
  }
  
  ul li {
    margin-bottom: 10px;
    position: relative;
  }

  .image20{
    width: 1362px;
    display: flex;
    animation-duration: 10s;
    animation-name: lesdeuximages;
    animation-iteration-count: infinite;
    overflow: auto;
    border: 2px;
}
@keyframes lesdeuximages{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(-1362px);
    }
    100%{
        transform: translate(0);
    }

}

  .mode2{
    font-size: 20px;
    margin-bottom: 5%;
    text-align: center;
    background-color: white;
  }
  .services21{
    display: flex;
    margin-bottom: 3%;
  }

  .mode1{
    margin-left: 0%;
    font-size: 20px;
    background-color: #C7815C;
    margin-bottom: 20px;
    padding-left: 3%;
    
}
.mode3{
    margin-left: 0%;
    background-color: #A76F51;
    margin-bottom: 20px;
    padding-right: 3%;
    padding-bottom: 3%;
}

.lesservi{
    display: flex;
    align-items: center;
}
.paiement1{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-right: 5%;
  
}
.booke{
  padding-right: 40%;
  text-align: left;
  margin-left: 30px;
  padding-left: 20%;
}

.formation{
  display: flex;
  padding-left: 20%;
  background-color: #C7815C;
}





