/* Slideshow container */
.slideshow-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
// s

#img1 {
  background-image: url("../assets/images/cardmapr-nl-s8F8yglbpjo-unsplash.jpg");

  background-size: cover;

  background-position: center;

  width: 100%;

  height: 400px;
}

#img2 {
  background-image: url("../assets/images/header_contact.jpeg");

  background-size: cover;

  background-position: center;

  width: 100%;

  height: 400px;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/**** Tabs */////

.titre-service {
  text-align: center;
  padding: 5%;
}

.titre-service h1 {

  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: var(--couleur-police);
}


/************contenaire option************************************/


.option {
  margin-left: 25px;
  margin-right: 25px;
  background-color: var(--bleu-secondaire);
  margin-bottom: 55px;


}


/****************************tabs*******************************/



.button-mode {
  display: flex;
  width: 100%;


}

.button-mode button {
  width: 100%;
  padding: 1em;
}

.button-mode div {
  width: 100%;
}


.w2-bar-item {
  background-color: var(--couleur-secondaire);
  color: var(--bleu-tertiaire);
  border: none;
  cursor: pointer;

}

.nw2-bar-item {
  background-color: var(--bleu-tertiaire);
  color: var(--couleur-police);
  border: none;
  cursor: pointer;

}





/******************************************livraison****************************/


#nos-services {
  width: 100%;
}

.livraison {

  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bleu-tertiaire);
}

.livraison p {
  padding-top: 10px;
  padding-bottom: 10px;
}

/************************************************paiment*************************************/

.paiement {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bleu-tertiaire);

}

.titreh31,
.titreh32,
.titreh33 {
  padding: 25px;

}

.fois {
  border: 2px solid var(--couleur-police);
  border-radius: 50%;
  background-color: var(--couleur-principale);
  text-align: center;
  width: 20%;
  margin: 0 auto;
  padding: 3%;

}

.carte {
  display: flex;
  justify-content: space-evenly;

}

.paypal {
  display: flex;
  justify-content: center;
  width: 100%;


}




.picture {
  display:flex;
  justify-content:center;
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  padding-bottom: 20px;
}

.picture img {
  width: 363px;
  height: 333px;
}

@media (min-width:1100px){

#footer{
  position: relative;
}

#footer-contact{
  position: absolute;
  right: 5%;
}



}
@media (min-width:1100px) {




  .livraison,
  .paiement {

      flex-direction: row;
  }

  .button-mode {

      width: 45%;


  }

  .text-livraison, .pay {
      width: 60%;
      margin-top: 3%;
      margin-left: 5%;
  }

  .picture img {
      
      width: 571px;
  height: 546px;
 
  }
  .picture{
      width: 48%;
      padding-top: 0;
  
      padding-bottom: 0;
  }
}


